body{
    
        font-family: "Fjalla One", sans-serif;
        font-weight: 400;
        font-style: normal;
        margin: 0vh;
        
      }
      



nav ul {
    display: flex;
    justify-content:space-around;
    background-color: blue;
    padding: 2vh;
    border-bottom: solid black 1px;
    list-style:none;
}




aside ul{
    position: fixed;

    left: -10vh; /* Esconde o aside fora da tela */
    width: 50vh;
    height: 100%;
    background-color: #f8f9fa;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    padding: 20px;
    transform: matrix3d();
    transition: left 0.3s ease;
    background-color: aqua;
}
main{display: flex;
    justify-content:space-evenly;
}
article{
    height: 100%;
}